@import url("https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

:focus {
  outline: none;
}

.h2 {
  width: 100%;
  text-align: center;
}

.h2 h2 {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  margin: 80px 0px 40px 0;
}

header {
  background: url("./img/head_bg.png") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 756px;
}

header nav {
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0 24px;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo h3 {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin-left: 6px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}

header nav ul li a {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

header nav .login {
  width: 103px;
  height: 41px;
  background: #0D606F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .login a {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

header .header_center .head_text {
  width: 892px;
  margin-top: 32px;
}

header .header_center .head_text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  font-family: 'Aleo';
  margin-bottom: 54px;
}

header .header_center .head_text p {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

header .header_center .head_text form {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  width: 892px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 18px 18px 41px;
  margin-top: 46px;
}

header .header_center .head_text form input {
  font-family: 'Aleo';
  width: 560px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  background: none;
  border: none;
  margin-right: 45px;
}

header .header_center .head_text form input::-webkit-input-placeholder {
  color: #F2785C;
}

header .header_center .head_text form input:-ms-input-placeholder {
  color: #F2785C;
}

header .header_center .head_text form input::-ms-input-placeholder {
  color: #F2785C;
}

header .header_center .head_text form input::placeholder {
  color: #F2785C;
}

header .header_center .head_text form button {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  width: 228px;
  height: 59px;
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

main .main_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

main .main_cards .main_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main_cards .main_cart .main_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  background: #F2785C;
  border-radius: 16px;
}

main .main_cards .main_cart h4 {
  margin-top: 30px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

section {
  overflow: hidden;
}

section .section_slide {
  width: 100%;
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-bottom: 24px;
}

section .section_slide .slide_img {
  margin-top: 6px;
  min-width: 800px;
  height: 800px;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

section .section_slide .slide_img img {
  width: 100%;
  height: 100%;
}

section .section_slide .slide_img .slide_h3 {
  position: absolute;
  bottom: 40px;
  left: 15px;
}

section .section_slide .slide_img .slide_h3 h3 {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

section .slide_items {
  width: 80px;
  height: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

section .slide_items .s_item {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

section .slide_items .s_item:nth-child(2) {
  background: #F2785C;
}

.more_button button {
  width: 228px;
  height: 59px;
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 18.25px 0;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.more_button button svg {
  margin-right: 12.5px;
  height: 22.5px;
  width: 35px;
}

.all ._sec_foot {
  background: url("./img/Rectangle33.png") no-repeat;
  background-size: 100% 100%;
}

.all ._sec_foot section {
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 41px;
}

.all ._sec_foot section .travel_cards {
  padding-top: 10px;
  margin-bottom: 40px;
}

.all ._sec_foot section .travel_cards .tr_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_img {
  margin-right: 40px;
  min-width: 400px;
  height: 250px;
  -webkit-filter: drop-shadow(0px 4px 4px #0D606F);
          filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  overflow: hidden;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_text h3 {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin-bottom: 24px;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Aleo';
  color: #0D606F;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_text a {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}

.all ._sec_foot footer {
  padding: 14px 0px 13.35px 0;
}

.all ._sec_foot footer .foot_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.all ._sec_foot footer .foot_div {
  width: 728.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all ._sec_foot footer .foot_div .foot_h4 h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  font-family: 'Red Hat Text';
}

.all ._sec_foot footer .foot_div .foot_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all ._sec_foot footer .foot_div .foot_icons img {
  margin-left: 21.31px;
}
/*# sourceMappingURL=style.css.map */