@import url("https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box !important;
}
body {
  background: #ffffff;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

:focus {
  outline: none;
}

.h2 {
  width: 100%;
  text-align: center;
}

.h2 h2 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
  margin: 80px 0px 40px 0;
}

header {
  background: url("./img/head_bg.png") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 756px;
}

header nav {
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0 24px;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav .logo h3 {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  margin-left: 6px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 42px;
}

header nav ul li a {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

header nav .login {
  width: 103px;
  height: 41px;
  background: #0d606f;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header nav .login a {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

header .header_center .head_text {
  width: 892px;
  margin-top: 32px;
}

header .header_center .head_text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
  font-family: "Aleo";
  margin-bottom: 54px;
}

header .header_center .head_text p {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

header .header_center .head_text form {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  width: 892px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 18px 18px 41px;
  margin-top: 46px;
}

header .header_center .head_text form input {
  width: 560px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  background: none;
  border: none;
  margin-right: 45px;
}

header .header_center .head_text form input::-webkit-input-placeholder {
  color: #f2785c;
}

header .header_center .head_text form input:-ms-input-placeholder {
  color: #f2785c;
}

header .header_center .head_text form input::-ms-input-placeholder {
  color: #f2785c;
}

header .header_center .head_text form input::placeholder {
  color: #f2785c;
}

header .header_center .head_text form button {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  width: 228px;
  height: 59px;
  background: #0d606f;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

main .main_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 17px;
}

main .main_cards .main_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main_cards .main_cart .main_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #f2785c;
  border-radius: 16px;
}

main .main_cards .main_cart h4 {
  margin-top: 30px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

section {
  overflow: hidden;
}

section .section_slide {
  width: 100%;
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 24px;
  transition: 1s;
}

section .section_slide .slide_img {
  margin-top: 6px;
  min-width: 800px;
  height: 800px;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

section .section_slide .slide_img img {
  width: 100%;
  height: 100%;
}

section .section_slide .slide_img .slide_h3 {
  position: absolute;
  bottom: 40px;
  left: 15px;
}

section .section_slide .slide_img .slide_h3 h3 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

section .slide_items {
  width: 80px;
  height: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

section .slide_items .s_item {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.sec_slideee {
  overflow: hidden;
}

.s_item_activeee {
  background: #f2785c !important;
  transition: 0.8s;
}
.more_button button {
  width: 228px;
  height: 59px;
  background: #0d606f;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 18.25px 0;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.more_button button svg {
  margin-right: 12.5px;
  height: 22.5px;
  width: 35px;
}

.all ._sec_foot {
  background: url("./img/Rectangle33.png") no-repeat;
  background-size: 100% 100%;
}

.all ._sec_foot section {
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 41px;
}

.all ._sec_foot section .travel_cards {
  padding-top: 10px;
  margin-bottom: 40px;
}

.all ._sec_foot section .travel_cards .tr_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_img {
  margin-right: 40px;
  min-width: 400px;
  height: 250px;
  -webkit-filter: drop-shadow(0px 4px 4px #0d606f);
  filter: drop-shadow(0px 4px 4px #0d606f);
  border-radius: 16px;
  overflow: hidden;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_text h3 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0d606f;
  margin-bottom: 24px;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: "Aleo";
  color: #0d606f;
}

.all ._sec_foot section .travel_cards .tr_cart .tr_text a {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #0d606f;
}

.all ._sec_foot footer {
  padding: 14px 0px 13.35px 0;
}

.all ._sec_foot footer .foot_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.all ._sec_foot footer .foot_div {
  width: 728.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.all ._sec_foot footer .foot_div .foot_h4 h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Red Hat Text";
}

.all ._sec_foot footer .foot_div .foot_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.all ._sec_foot footer .foot_div .foot_icons img {
  margin-left: 21.31px;
}
.github,
.slide_items_390,
.media_slide_390,
header nav ul .li_390,
.travel_cards_390,
.bars {
  display: none;
}

.login_bg {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: absolute;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}

.register,
.logindiv {
  position: absolute;
  margin: auto;
  max-width: 650px;
  height: 660px;
  background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transform: translate(-50%, -50%);
  top: -200%;
  left: 50%;
  z-index: 100;
  text-align: center;
  padding: 0 45px;
  transition: 0.5s;
}
.register {
  height: auto;
  display: none;
  top: 50%;
}
.register .logintitle h2,
.logindiv .logintitle h2 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0d606f;
  margin-top: 25px;
}

.logindiv .login_facebook {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1877f2;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin-top: 30px;
  padding: 16.57px 0;
}
.logindiv .login_facebook p {
  margin-left: 15.5px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
}
.logindiv .login_google {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  padding: 16.57px 0;
  border-radius: 10px;
  cursor: pointer;
}
/* .register{
  display: none;
} */
.logindiv .login_google p {
  margin-left: 15.5px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0d606f;
}
.logindiv .login_or p {
  margin-top: 30px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
  position: relative;
  margin-bottom: 10px;
}
.logindiv .login_or p::after {
  position: absolute;
  display: block;
  content: "";
  width: 261px;
  height: 0px;
  border: 1px solid rgba(13, 96, 111, 0.5);
  top: 12.5px;
}
.logindiv .login_or p::before {
  position: absolute;
  display: block;
  content: "";
  width: 261px;
  height: 0px;
  right: 0;
  border: 1px solid rgba(13, 96, 111, 0.5);
  top: 12.5px;
}
.register form,
.logindiv form {
  text-align: start !important;
  color: #0d606f;
}
.register form label,
.logindiv form label {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: block;
  padding-bottom: 5px;
}
.register input,
.logindiv input {
  width: 100%;
  border: none;
  height: 54px;
  font-size: 20px;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08),
    inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin-bottom: 20px;
}
.register button,
.logindiv button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 229px;
  gap: 10px;
  width: 560px;
  height: 54px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 5px;
  color: #ffffff;
  cursor: pointer;
}
.register .title_your a,
.logindiv .title_your a {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0d606f;
  margin-top: 10px;
  padding-bottom: 26px;
  margin-bottom: 20px;
  display: block;
  border-bottom: 1px solid rgba(13, 96, 111, 0.5);
}
.register .title_bottom p,
.logindiv .title_bottom p {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  margin-bottom: 23px;
  color: rgba(13, 96, 111, 0.5);

  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.register .title_bottom p {
  margin-top: 26px;
  padding-top: 20px;
  border-top: 1px solid rgba(13, 96, 111, 0.5);
}
.register .title_bottom a,
.logindiv .title_bottom a {
  text-decoration: underline;
  color: #0d606f;
}

.login_p_active {
  top: 50%;
  display: block;
}
.login_p_off {
  display: none;
}
.login_p_on {
  top: 50%;
  display: block;
}
.register_p_off {
  display: none;
}
.register_p_100 {
  position: absolute;
  top: -100%;
  display: block;
}
.register_p_active {
  display: block;
  top: 50%;
}

.login_bg_active {
  display: block;
}

@media (max-width: 1199px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 991px) {
  header .header_center .head_text,
  header .header_center .head_text form {
    width: 100%;
  }
  main .main_cards {
    text-align: center;
    align-items: start;
  }
  .main_cart {
    width: 30%;
  }
  header nav {
    position: relative;
  }
  section .section_slide .slide_img {
    min-width: 350px;
    height: auto;
  }
  .all ._sec_foot section .travel_cards .tr_cart {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .all ._sec_foot section .travel_cards .tr_cart .tr_text {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  header nav ul {
    order: 1;
    margin-top: 20px;
  }
  body {
    padding-right: 0;
  }
  .register,
  .logindiv {
    width: 80%;
    height: auto;
    z-index: 1000;
  }
  .logindiv .login_facebook {
    padding: 5.57px 0;
  }
  .register .logintitle h2,
  .logindiv .logintitle h2 {
    font-size: 20px;
  }
  .register button,
  .logindiv button {
    padding: 0;
    width: 100%;
  }
  .logindiv .login_google {
    padding: 5.57px 0;
    margin-bottom: 10px;
  }
  .register .title_bottom p,
  .logindiv .title_bottom p {
    font-size: 12px;
  }
  .register button,
  .logindiv button,
  .register input,
  .logindiv input {
    height: 35px;
    font-size: 15px;
  }
  .logindiv .login_facebook p,
  .logindiv .login_google p {
    font-size: 15px;
  }
  .login_or {
    display: none;
  }
  .logindiv .login_facebook {
    margin-top: 12px;
  }
  .register .title_your a,
  .logindiv .title_your a {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  body {
    padding-right: 0 !important;
  }
  .login_bg {
    height: 110vh;
  }
}

@media (max-width: 576px) {
  main .main_cards {
    align-items: baseline;
  }
  .close_bg {
    height: 100vh !important;
  }
  header nav {
    background: transparent;
    box-shadow: unset;
    padding-top: 44px;
  }
  header nav .logo h3 {
    display: none;
  }
  header nav ul {
    display: block;
    position: absolute;
    top: 0%;
    right: -50%;
    background-color: #f2785c;
    width: 165px;
    height: 250px;
    background: #f2785c;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;
    z-index: 100;
  }
  .active_menu {
    position: absolute;
    right: 0;
  }
  .close_bg {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
  }
  header nav ul li {
    margin-bottom: 10px;
    text-align: end;
  }
  .close {
    margin-bottom: 13.6px;
    cursor: pointer;
  }
  .bars {
    display: block;
    margin-right: 5px;
  }
  .bars img,
  .close img {
    cursor: pointer;
  }
  header nav ul .li_390 {
    display: block;
  }

  .container,
  header .header_center .head_text {
    width: 360px;
  }
  header .header_center .head_text form {
    width: 360px;
    height: 48px;
    padding: 18px;
    padding-right: 10px;
    padding-left: 17px;
    margin-top: 38px;
  }
  header .header_center .head_text form input {
    font-size: 14px;
    width: 226px;
  }
  header .header_center .head_text form button {
    font-size: 11px;
    width: 105px;
    height: 32px;
  }
  header nav .login {
    display: none;
  }
  header .header_center .head_text p,
  header .header_center .head_text h1 {
    display: none;
  }
  header {
    height: 251px;
    background: url("./img/garrett-parker-DlkF4-dbCOU-unsplash 2.png") no-repeat
      center center / cover;
    box-shadow: inset 0px 34px 34px #31636c;
    overflow: hidden !important;
    position: relative;
  }

  .h2 h2 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: unset;
  }
  main .main_cards .main_cart h4 {
    font-size: 10px;
  }
  main .main_cards .main_cart .main_icon {
    width: 70px !important;
    height: 70px !important;
  }
  main .main_cards .main_cart .main_icon:first-child {
    width: 68px;
    height: 72px;
    margin-top: 2px;
  }
  main .main_cards .main_cart .main_icon:nth-child(2) {
    height: 70px;
  }
  main .main_cards .main_cart .main_icon img {
    width: 35px;
    height: 35px;
  }

  main .main_cards .main_cart h4 {
    line-height: unset;
  }
  main .main_cards .main_cart:first-child {
    align-items: flex-start;
    width: 27%;
  }
  main .main_cards .main_cart:last-child {
    align-items: flex-end;
    text-align: end;
    width: 30%;
  }
  main .main_cards .main_cart h4 {
    margin-top: 19px;
  }
  main .main_cards .main_cart:nth-child(2) {
    text-align: center;
    margin-left: 9px;
    margin-top: -12px;
  }
  main .main_cards {
    margin-bottom: 0;
  }
  section .section_slide {
    display: none;
  }
  ._390_img_div{
    width: 100%;
    position: relative;
    transition: .8s;
  }
  

  ._390_img_div h2{
    position: absolute;
    top: 10px;
  }
  
  .media_slide_390 {
    
    display: block;
    width: 100%;
    position: relative;
  }
  .media_slide_390 img {
      transition: .8s;
    border-radius: 16px;
  }
  .media_slide_390 h3 {
    position: absolute;
    left: 7.8%;
    top: 4%;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #ffffff;
  }
  .ind_slide_390_1 {
    height: 33px !important;
    width: 20px !important;
    position: absolute;
    left: 6%;
    top: 42%;
    background: transparent;
    border: none;
  }
  .ind_slide_390_2 {
    height: 33px !important;
    width: 20px !important;
    position: absolute;
    right: 6%;
    top: 42%;
    background: transparent;
    border: none;
  }
  .slide_items {
    display: none !important;
  }
  .slide_items_390 {
    position: absolute;
    bottom: 7%;
    left: 45%;
    width: 36px;
    display: flex;
    justify-content: space-between;
  }
  .slide_items_390 .s_item__390 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
    transition: 0.3s;
  }
 
  .slide_items_390 .s_item__390:hover {
    background: #f2785c;
  }
  .more_button button {
    width: 92px;
    height: 26px;
    line-height: unset;
    padding: 14.25px 1px;
    margin-top: 7px;
    font-size: 11px;
  }
  .more_button button svg {
    width: 10px;
    margin-right: 6px;
  }
  .travel_cards {
    display: none;
  }
  .all .h2 h2 {
    margin-bottom: 13px;
  }

  .travel_cards_390 {
    padding-top: 11px;
  }
  .travel_cards_390 .tr_cart {
    display: flex;
    margin-bottom: 11px;
  }
  .travel_cards_390 .tr_cart .tr_img img {
    filter: drop-shadow(0px 4px 4px #0d606f);
    border-radius: 16px;
  }

  .travel_cards_390 .tr_cart .tr_text h3 {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #0d606f;
    margin-bottom: 10px;
  }
  .travel_cards_390 {
    display: block;
  }
  .travel_cards_390 .tr_cart .tr_text p {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;

    color: #0d606f;
  }
  .travel_cards_390 .tr_cart .tr_text a {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    display: block;
    margin-top: 0px;
    text-decoration-line: underline;
    color: #0d606f;
  }
  .travel_cards_390 .tr_cart .tr_text {
    margin-left: 10px;
    margin-top: 3px;
  }
  .all ._sec_foot {
    background: url("./img/Rectangle28.png") no-repeat center bottom / cover;
  }
  .all .more_button {
    margin-top: -6px;
    display: block;
  }
  .foot_h4 {
    display: none;
  }
  .all ._sec_foot footer .foot_div {
    justify-content: center;
  }
  .all ._sec_foot footer {
    padding: 0;
    padding: 14px 0px 12px 0 !important;
  }
  .all ._sec_foot section {
    padding-bottom: 15px;
  }

  .all ._sec_foot footer .foot_div .foot_icons img {
    margin-left: 0;
    width: 30px;
  }
  .foot_icons {
    margin-left: 5px;
    width: 190px;
    display: flex;
    justify-content: space-between;
  }
  .github {
    display: block;
  }
  header {
    overflow-y: unset !important;
    position: unset;
  }
  .register,
  .logindiv {
    width: 80%;
    height: auto;
    z-index: 1000;
  }
  .logindiv .login_facebook {
    padding: 5.57px 0;
  }
  .register .logintitle h2,
  .logindiv .logintitle h2 {
    font-size: 20px;
  }
  .register button,
  .logindiv button {
    padding: 0;
    width: 100%;
  }
  .logindiv .login_google {
    padding: 5.57px 0;
    margin-bottom: 10px;
  }
  .register .title_bottom p,
  .logindiv .title_bottom p {
    font-size: 12px;
  }
  .register button,
  .logindiv button,
  .register input,
  .logindiv input {
    height: 35px;
    font-size: 15px;
  }
  .logindiv .login_facebook p,
  .logindiv .login_google p {
    font-size: 15px;
  }
  .login_or {
    display: none;
  }
  .logindiv .login_facebook {
    margin-top: 12px;
  }
  .register .title_your a,
  .logindiv .title_your a {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  body {
    padding-right: 0 !important;
  }
  header nav ul {
    margin-top: 10px;
    height: 240px;
  }
  .close_bg {
    height: 100% !important;
  }

  .media_slide_390 .container {
    display: flex;
    margin: auto;
    /* width: 1080px; */
    transition: 1s;
    gap: 30px;
    transition: 1s;
    overflow: scroll;
  }
  .media_slide_390 .container::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  /* ._390_img_div{
    width: 32%;
  } */
}

@media (max-width: 389px) {
  header .header_center .head_text{
    width: inherit;
  }
  header .header_center .head_text form input{
    margin-right: 0;
  }
  .container {
    width: inherit;
  }
  .close_bg {
    height: 100% !important;
  }
  header nav ul {
    margin-top: 10px;
    height: 240px;
  }
  header .header_center .head_text form {
    width: 90%;
    margin: auto;
  }
  header .header_center .head_text form button {
    font-size: 9px;
  }
  header nav ul {
    right: -55%;
  }
}
